<!-- show film info -->
<div *ngIf="filmInfo != null" class="card">
  <span *ngIf="filmInfo.img != ''">
    <img src="{{ filmInfo.img }}" alt="Image" class=".card-img-top" />
  </span>
  <span *ngIf="filmInfo.img == ''">
    <img
      src="../../../../assets/img/coffee.png"
      alt="Image"
      class=".card-img-top"
    />
  </span>
  <div class="card-body">
    <h5 class="card-title">Titre: {{ filmInfo.nom }}</h5>
    <h6 class="card-subtitle">
      Realisateur: {{ filmInfo.real }}
    </h6>

    <h6 class="card-subtitle">
      Annee: {{ filmInfo.annee }}
    </h6>
    <p class="card-text">{{ filmInfo.synopsis | slice: 1:200 }} ...</p>
    <!-- Synopsis: {{ filmInfo.synopsis }} -->
  </div>
</div>

<!-- show album info -->
<div *ngIf="albumInfo != null" class="card .h-100">
  <span *ngIf="albumInfo.img != ''">
    <img src="{{ albumInfo.img }}" alt="Image" class=".card-img-top" />
  </span>
  <span *ngIf="albumInfo.img == ''">
    <img
      src="../../../../assets/img/coffee.png"
      alt="Image"
      class=".card-img-top"
    />
  </span>
  <div class="card-body">
    <h5 class=".card-title">Titre: {{ albumInfo.nom }}</h5>
    <h6 class=".card-subtitle">
      Artiste: {{ albumInfo.artiste }}
    </h6>
    <h6 class=".card-subtitle">
      Annee: {{ albumInfo.annee }}
    </h6>
    <p class="card-text">{{ albumInfo.details | slice: 1:200 }} ...</p>
  </div>
</div>
